<h>Hello<h>
<p>I am Reviewer</p>
<p><b>All parties</b></p>
<table border="1" style="width:100%">
<tr>
   <td>Party title</td>
   <td>venue</td>
    <td>Status</td>

   </tr>
</table>

<% @parties.each do |party| %>

<table border="1" style="width:100%">
<tr>
<td><%= image_tag party.avatar.url %><td>
    <td><b><%= party.title %></b></td>
    <td><%= party.venue %></td>
    
       <td> <%= button_to 'accept'%>/<%= button_to 'decline' %></td>
</tr>
</table>
<br><br>

<% end %>
<%= button_to "Sign Out", destroy_user_session_path(@user), method: :delete %>