
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Party Application</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to 'Home', index_path %></li>
      <li><%= link_to 'My Parties', my_parties_path %></li>
      <li><%= link_to 'sign out', destroy_user_session_path(@user), method: :delete %></li>
    </ul>
  </div>
</nav>

<h2>Create Party</h2>

<%= form_for :parties,url: parties_path, html: { multipart: true } do |f| %>

<div class="field">
    <%= f.label :title,"Party Title" %><br />
    <%= f.text_field :title, autofocus: true , :required => true,:onblur => "validateTitle()"%>
    <span id="errfn"></span>
</div>

<div class="field">
    <%= f.label :type_of_party,"Type"%><br />
    <%= f.text_field :party_type, autofocus: true , :required => true,:onblur => "validateType()"%>
    <span id="errfn1"></span>
</div>

<div class="field">
    <%= f.label :date,"Date"%><br />
    <%= f.date_field :party_date, autofocus: true , :required => true,:onblur => "validateDate()"%>
    <span id="errfn2"></span>
</div>

<div class="field">
    <%= f.label :time,"Time"%><br />
    <%= f.text_field :time, autofocus: true , :required => true,:onblur => "validateTime()"%><span id="errfn3"></span>
</div>

<div class="field">
    <%= f.label :no_of_person,"Number of Persons" %><br />
    <%= f.text_field :no_of_person, autofocus: true , :required => true,:onblur => "validatePerson()"%><span id="errfn4"></span>
</div>

<div class="field">
    <%= f.label :avatar,"Photo" %><br />
    <%= f.file_field :avatar %>
</div>

<div class="field">
    <%= f.label :venue,"Venue" %><br />
    <%= f.text_field :venue, autofocus: true , :required => true,:onblur => "validateVenue()"%><span id="errfn5"></span>
</div>

<div class="field">
   <%= f.hidden_field :status, :value => 'pending'%>
</div>

<div class="actions">
    <%= f.submit "Create" , id: "form" %>
</div>

<% end %>

</body>
</html>



